<h2>スレッドの作成</h2>
  <div>
    <form action="/boards" method="POST">
      <div>
        スレッド名:
        <textarea name="title" rows="3"></textarea>
      </div>
      <div>
        <input type="submit" value="作成する">
      </div>
    </form>
  </div>
